openapi: 3.0.3
info:
  contact:
    name: airEml
  description: airEml - API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.txt
  title: airEml - API
  version: 1.0.0
servers:
- description: PROD server
  url: https://aireml.com
- description: Dev server
  url: https://deveml.com
- description: RC server
  url: https://rceml.com
tags:
- description: Authorization group
  name: Authorization
- description: The audience resources
  name: Audience
- description: The sending of Notifications
  name: Sending
- description: The Notifications resources
  name: Notifications
- description: The email templates resources
  name: Email Templates
- description: The email transport settings
  name: Email Settings
- description: The push templates resources
  name: Push Templates
- description: The push transport settings
  name: Push Settings
- description: The SMS templates resources
  name: SMS Templates
- description: The SMS transport settings
  name: SMS Settings
- description: The Webhook resources
  name: Webhooks
paths:
  /api/v1/audience/segments:
    get:
      description: To retrieve a list of all segments from your audience.
      operationId: list_audience_segments
      parameters:
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      - description: The name of the Segment
        example: paid
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentCollectionResponse'
          description: The list of audience segments
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read
        - audience.segments:read_write
      summary: List All Segments
      tags:
      - Audience
    post:
      description: To create a new segment in your audience.
      operationId: create_audience_segment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentResponse'
          description: The audience segment resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Create a New Segment
      tags:
      - Audience
  /api/v1/audience/segments/{audience_segment_id}:
    delete:
      description: To delete a segment from your audience.
      operationId: delete_audience_segment
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Delete a Segment
      tags:
      - Audience
    get:
      description: To get details about a specific segment in your audience.
      operationId: get_audience_segment
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentResponse'
          description: The audience segment resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read
        - audience.segments:read_write
      summary: Retrieve an Existing Segment
      tags:
      - Audience
    put:
      description: To update details about a specific segment in your audience.
      operationId: update_audience_segment
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceSegmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceSegmentResponse'
          description: The audience segment resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Update a Segment
      tags:
      - Audience
  /api/v1/audience/segments/{audience_segment_id}/activate:
    put:
      description: To activate a segment.
      operationId: update_assign_active_status_to_audience_segment
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Activate a Segment
      tags:
      - Audience
  /api/v1/audience/segments/{audience_segment_id}/deactivate:
    put:
      description: To deactivate a segment.
      operationId: update_assign_inactive_status_to_audience_segment
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Deactivate a Segment
      tags:
      - Audience
  /api/v1/audience/segments/{audience_segment_id}/filters:
    get:
      description: To retrieve a list of all filters from the specific audience segment
        in your workspace.
      operationId: list_audience_segment_filters
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceFilterCollectionResponse'
          description: The list of audience filters
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read
        - audience.segments:read_write
      summary: List All Filters from the Segment
      tags:
      - Audience
    post:
      description: To create a new filter for the audience segment in your workspace.
      operationId: create_audience_segment_filter
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceFilterRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceFilterResponse'
          description: The audience filter resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Create a New Segment Filter
      tags:
      - Audience
  /api/v1/audience/segments/{audience_segment_id}/filters/{audience_filter_id}:
    delete:
      description: To delete a filter from the specific audience segment in your workspace.
      operationId: delete_audience_segment_filter
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the Filter
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_filter_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Delete a Filter from the Audience Segment
      tags:
      - Audience
    get:
      description: To get details about the specific filter of the audience segment
        in your workspace.
      operationId: get_audience_segment_filter
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the Filter
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_filter_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceFilterResponse'
          description: The audience filter resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read
        - audience.segments:read_write
      summary: Retrieve an Existing Filter from the Audience Segment
      tags:
      - Audience
    put:
      description: To update details about specific filter in the audience segment
        in your workspace.
      operationId: update_audience_segment_filter
      parameters:
      - description: The ID of the Segment
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_segment_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The ID of the Filter
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_filter_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceFilterResponse'
          description: The audience filter resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.segments:read_write
      summary: Update a Filter in the Audience Segment
      tags:
      - Audience
  /api/v1/audience/tags:
    get:
      description: To retrieve a list of all tags from your audience.
      operationId: list_audience_tags
      parameters:
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      - description: The name of the Tag
        example: paid
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTagCollectionResponse'
          description: The list of audience tags
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read
        - audience.recipients:read_write
      summary: List All Tags
      tags:
      - Audience
    post:
      description: To create a new tag in your audience.
      operationId: create_audience_tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTagRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTagResponse'
          description: The audience tag resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Create a New Tag
      tags:
      - Audience
  /api/v1/audience/tags/{audience_tag_id}:
    delete:
      description: To delete a tag from your audience.
      operationId: delete_audience_tag
      parameters:
      - description: The ID of the Tag
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_tag_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Delete a Tag
      tags:
      - Audience
    get:
      description: To get details about a specific tag in your audience.
      operationId: get_audience_tag
      parameters:
      - description: The ID of the Tag
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_tag_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTagResponse'
          description: The audience tag resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read
        - audience.recipients:read_write
      summary: Retrieve an Existing Tag
      tags:
      - Audience
    put:
      description: To update details about a specific tag in your audience.
      operationId: update_audience_tag
      parameters:
      - description: The ID of the Tag
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_tag_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTagRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTagResponse'
          description: The audience tag resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Update a Tag
      tags:
      - Audience
  /api/v1/audience/recipients:
    get:
      description: To retrieve a list of all recipients from your audience.
      operationId: list_audience_recipients
      parameters:
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      - description: The external id of the Recipient
        example: "123456789"
        explode: true
        in: query
        name: external_id
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: true
        in: query
        name: recipient_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The Contact Address of the Recipient
        example: john.doe@example.com
        explode: true
        in: query
        name: contact_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceRecipientCollectionResponse'
          description: The list of audience recipients
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read
        - audience.recipients:read_write
      summary: List All Recipients
      tags:
      - Audience
    post:
      description: To create a new recipient in your audience.
      operationId: create_audience_recipient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRecipientRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceRecipientResponse'
          description: The audience recipient resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Create a New Recipient
      tags:
      - Audience
  /api/v1/audience/recipients/{audience_recipient_id}:
    delete:
      description: To delete a recipient from your audience.
      operationId: delete_audience_recipient
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Delete a Recipient
      tags:
      - Audience
    get:
      description: To get details about a specific recipient in your audience.
      operationId: get_audience_recipient
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceRecipientResponse'
          description: The audience recipient resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read
        - audience.recipients:read_write
      summary: Retrieve an Existing Recipient
      tags:
      - Audience
    put:
      description: To update details about a specific recipient in your audience.
      operationId: update_audience_recipient
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRecipientRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceRecipientResponse'
          description: The audience recipient resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Update a Recipient
      tags:
      - Audience
  /api/v1/audience/recipients/{audience_recipient_id}/contacts/{audience_contact_type}:
    delete:
      description: To delete a contact from the specific audience recipient in your
        workspace.
      operationId: delete_audience_recipient_contact
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The type of the Contact
        example: email
        explode: false
        in: path
        name: audience_contact_type
        required: true
        schema:
          enum:
          - email
          - phone
          - push
          - push_web
          - push_ios
          - push_android
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Delete a Contact from the Audience Recipient
      tags:
      - Audience
    post:
      description: To attach a contact to the audience recipient in your workspace.
      operationId: attach_audience_recipient_contact
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The type of the Contact
        example: email
        explode: false
        in: path
        name: audience_contact_type
        required: true
        schema:
          enum:
          - email
          - phone
          - push
          - push_web
          - push_ios
          - push_android
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceRecipientContactRequest'
        required: true
      responses:
        "201":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Attach a Contact to the Audience Recipient
      tags:
      - Audience
  /api/v1/audience/recipients/{audience_recipient_id}/segments:
    get:
      description: To retrieve a list of all segments from the specific audience recipient
        in your workspace.
      operationId: list_audience_recipient_segments
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceRecipientSegmentCollectionResponse'
          description: The list of audience segments
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read
        - audience.recipients:read_write
        - audience.segments:read
        - audience.segments:read_write
      summary: List All Segments from the Recipient
      tags:
      - Audience
  /api/v1/audience/recipients/{audience_recipient_id}/tags/{audience_tag_name}:
    delete:
      description: To delete a tag from the specific audience recipient in your workspace.
      operationId: delete_audience_recipient_tag
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the Tag
        example: paid_recipients
        explode: false
        in: path
        name: audience_tag_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Delete a Tag from the Audience Recipient
      tags:
      - Audience
    post:
      description: To attach a tag to the audience recipient in your workspace.
      operationId: attach_audience_recipient_tag
      parameters:
      - description: The ID of the Recipient
        example: 00112233-4455-6677-8899-aabbccddeeff
        explode: false
        in: path
        name: audience_recipient_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The name of the Tag
        example: paid_recipients
        explode: false
        in: path
        name: audience_tag_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: The action was successful and the response body is empty.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - audience.recipients:read_write
      summary: Attach a Tag to the Audience Recipient
      tags:
      - Audience
  /api/v1/auth/tokens/service-account:
    post:
      description: To create an access token for the service account by client id
        and client secret (machine-to-machine authentication).
      operationId: create_auth_token_for_service_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenForServiceAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
          description: Client access token resource
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/json:
              example:
                message: The resource you requested could not be found.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server has not found anything matching the Request-URI.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security: []
      summary: Create Access Token for Service Account
      tags:
      - Authorization
  /api/v1/email/transports:
    get:
      description: To retrieve a list of all email notification transports in your
        workspace.
      operationId: list_email_transports
      parameters:
      - description: Which 'cursor' of paginated results to return.
        example: eyJjcmVhdGVkX2F0IjoiMjAyMy0wMS0xOCAxMjo1ODoyMyIsImlkIjoiYWRhM2NkMGItODE2YS0zMDc2LWEyOGUtNzYyMjNkNTRlNDMyIiwiX3BvaW50c1RvTmV4dEl0ZW1zIjpmYWxzZX0
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Number of items returned per page
        example: 2
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: The field to order the results by
        example: latest
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - latest
          - oldest
          type: string
        style: form
      - description: The filter value for show the records of the transports that
          have a specific name.
        example: SMTP
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: The filter value for show the records of the transports that
          have a specific status.
        example: 1
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - 1
          - 2
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTransportCollectionResponse'
          description: The list of email notification transports
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
      security:
      - bearerAuth:
        - email.transports:read
        - email.transports:read_write
      summary: List All Email Notification Transports
      tags:
      - Email Settings
    post:
      description: To create a new email notification transport in your workspace.
      operationId: create_email_transport
      requestBody:
        content:
          application/json:
            examples:
              smtp:
                $ref: '#/components/examples/EmailTransportSMTP'
              sendgrid:
                $ref: '#/components/examples/EmailTransportSendgrid'
              mailgun:
                $ref: '#/components/examples/EmailTransportMailgun'
              gmail:
                $ref: '#/components/examples/EmailTransportGmail'
            schema:
              $ref: '#/components/schemas/EmailTransportCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTransportResponse'
          description: The email notification transport
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/json:
              example:
                message: Validation failed
                errors:
                  field1:
                  - The field1 field is required.
                  - The field1 field must be a string.
                  field2:
                  - The field2 field is required.
              schema:
                $ref: '#/components/schemas/ErrorMultiple'
          description: The request could not be understood by the server due to malformed
            syntax. The client SHOULD NOT repeat the request without modifications.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/json:
              example:
                message: Unauthenticated.
              schema:
                $ref: '#/components/schemas/Error'
          description: The request requires user authentication.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/json:
              example:
                message: Invalid scope(s) provided.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server understood the request but refuses to authorize
            it.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        "500":
          content:
            application/json:
              example:
                message: Unexpected server-side error.
              schema:
                $ref: '#/components/schemas/Error'
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          headers:
            request-id:
              $ref: '#/components/headers/request-id'
        default:
          content:
            application/json:
              example:
                message: some error message
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
[...]
